body{
     width: 100%;
    background-color: #f5f5f5;
}
main{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 8px;
    text-decoration: none;
    border-radius: 8px;
    color: #000;
    height: 50px;
    width: 300px;
    transition: all 200ms;
}

.item:hover{
    background-color: crimson;
    color: #fff;
}